.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--size-48);
    background-color: var(--color-beige-accent);
    font-family: var(--font-display);
}

.navigation ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-body);
}

.navigation li {
    padding-right: var(--size-18);
    display: flex;
    align-items: center;
}

.navigation__right svg {
    width: var(--size-22);
}

.navigation__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navigation__container {
    height: 100%;
}

.navigation__title {
    width: var(--size-52);
}